<div class="row " ng-model="login" ng-model="userName" ng-init="login=false">
        <ul class="list-inline pull-right">
            <li ng-show="login" class="label">Welcome &nbsp;</li>
            <li ng-show="login"><label>{{userName}}&nbsp; </label></li>
            <li ng-hide="login"><input type="text" placeholder="email@abc.com" class="uname" ng-model="loginId"/></li>
            <li ng-hide="login"><input type="password" placeholder="Password" class="pword" ng-model="Password"/></li>
            <li ng-hide="login"><button type="button" class="btn  btn-success btn-sm" ng-click="doLogin()">&nbsp;Sign In&nbsp;</button></li>
            <li ng-hide="login"><button type="button" class="btn  btn-primary btn-sm" ng-click="doRegistration()">&nbsp;Register&nbsp;</button></li>
            <li ng-show="login"><button type="button" class="btn  btn-warning btn-sm" ng-click="doLogout()">&nbsp;Logout&nbsp;</button></li>
        </ul>
</div>