body{
    font-family: Droid+Serif,sans-serif;
}
.headerpane{
    background: #7cb8ff;
    width: 100%;
    height: 10%;
    text-align: right;
    line-height: 27px;
}

.headerpane ul{
    display: inline-flex;
    list-style-type: none;
    line-height: 10%;
    padding-right: 2%;
}

.headerpane input{
    color: gray ;
    font-size  : 13px;
    text-align: center;
    -webkit-border-radius: 7px 7px 7px 7px;
    border-radius: 7px 7px 7px 7px;

}